/* INSERT DEFIBRILLATOR LAYOUT */


#page--insert {
  width      : 100%;
  height     : 100%;
  position   : absolute;
  top        : 0;
  z-index    : $z-insert-wrapper;
  overflow-y : scroll;
  background : #FFFFFF;

  /* MAIN PAGE */
  #insert-ls-main {
    width   : 100%;
    height  : 100%;
    z-index : $z-insert-main;

    .requests-container {
      @include flex-display(column);

      .required-fields {
        margin-top : 20px;
        @include font(400, $font-body-small);
        color      : #949494;
      }

      .request {
        @include flex-display;
        width      : 100%;
        margin-top : 27px;
        color      : $color-text;

        .request-icon-left {
          @include flex-static-size($icon-size);
        }

        .request-content {
          @include font(500, $font-body);
          @include vendor("flex", "1");
          padding-left  : 6px;
          cursor        : pointer;
          border-bottom : 1px solid #C5C5C5;

          .request-name {
            margin-bottom : 12px;
          }

          .request-text {
            font-size     : $font-body-small;
            margin-bottom : 3px;
            color         : $color-main;
          }

        }

      }

    }

    #photo-request {
      margin-bottom : 40px;

      .request-content {
        border : 0;
      }

      .request-name {
        margin-bottom : 20px;
      }

    }

  }


  /* NEW DAMAGES DIALOG */
  #dialog-damages-new {

    .custom-text-input {
      margin-top : 20px;
    }

  }

}