/* DIALOG LANDSLIDE TYPE */

$image-width : 120px;
$text-height : 40px;

#dialog-ls-type {

  .card-row {
    @include flex-display(row, space-between);
    margin-bottom : 16px;

    &.last-card-row { margin-bottom : 32px }

  }

  .radio-card { width : $radio-card-side-margin * 2 + $image-width }

  .radio-card-text-wrapper { height : $text-height }

  img {
    width  : $image-width;
    height : auto
  }

}