/* MAP LAYOUT */

$map-control-top : 16px;
$map-control-bottom : 16px;
$map-control-left : 16px;
$map-control-right : 16px;

$map-control-second-row-margin : 12px;


#page--map {
  position : relative;
  width    : 100%;

  #finding-position-msg {
    width    : 100%;
    position : absolute;
    top      : 30px;
    @include flex-center;
    z-index  : $z-map-container;

    p {
      @include font(400, $font-body);
      border-radius : 50px;
      padding       : 8px 12px;
      background    : rgba(53, 53, 53, 0.61);
      color         : #FFFFFF;
    }

  }

  .leaflet-control-attribution.leaflet-control { display : none }

  .map-control {
    z-index  : $z-map-container;
    @include font(400, $font-body);
    position : absolute;
  }

  .fab {
    background : #FFFFFF;
    color      : #000000;
    border     : 0.1px solid rgba(0, 0, 0, 0.4);
  }

  .map-control-left { left : $map-control-left }

  .map-control-right { right : $map-control-right }

  .map-control-center {
    right : $map-control-right;
    left  : $map-control-left;
  }

  .map-control-top-1 { top : $map-control-top }

  .map-control-top-2 { top : $map-control-top + $fab-size + $map-control-second-row-margin }

  .map-control-bottom { bottom : $map-control-bottom }

  .gps-on { color : #2196F3 }

  .leaflet-marker-icon {

    &:focus { outline : none !important }

  }


  #sync-notification {
    width            : 12px;
    height           : 12px;
    position         : absolute;
    top              : 2px;
    left             : 38px;
    border-radius    : 50%;
    background-color : #DF0500;
  }

}