@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Segoe UI Light"), local("Ubuntu Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 300;
  src: local(".SFNSText-LightItalic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Light Italic"), local("Ubuntu Light Italic"), local("Roboto-LightItalic"), local("DroidSans"), local("Tahoma");
}
@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 400;
  src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"), local("Segoe UI"), local("Ubuntu"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma");
}
@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 400;
  src: local(".SFNSText-Italic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Italic"), local("Ubuntu Italic"), local("Roboto-Italic"), local("DroidSans"), local("Tahoma");
}
@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 500;
  src: local(".SFNSText-Medium"), local(".HelveticaNeueDeskInterface-MediumP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold"), local("Ubuntu Medium"), local("Roboto-Medium"), local("DroidSans-Bold"), local("Tahoma Bold");
}
@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 500;
  src: local(".SFNSText-MediumItalic"), local(".HelveticaNeueDeskInterface-MediumItalicP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold Italic"), local("Ubuntu Medium Italic"), local("Roboto-MediumItalic"), local("DroidSans-Bold"), local("Tahoma Bold");
}
@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 700;
  src: local(".SFNSText-Bold"), local(".HelveticaNeueDeskInterface-Bold"), local(".LucidaGrandeUI"), local("Segoe UI Bold"), local("Ubuntu Bold"), local("Roboto-Bold"), local("DroidSans-Bold"), local("Tahoma Bold");
}
@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 700;
  src: local(".SFNSText-BoldItalic"), local(".HelveticaNeueDeskInterface-BoldItalic"), local(".LucidaGrandeUI"), local("Segoe UI Bold Italic"), local("Ubuntu Bold Italic"), local("Roboto-BoldItalic"), local("DroidSans-Bold"), local("Tahoma Bold");
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font: 400 16px system-ui;
  line-height: 1.2;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  color: #000000;
}

a, button {
  outline: none;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.form-page, #page--account-settings, #page--settings, #page--register-disclaimer, .auth-page, #splash {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  background: #FFFFFF;
}

.custom-container {
  margin: 0 16px;
  width: calc(100% - 16px * 2);
}

/* MAP LAYOUT */
#page--map {
  position: relative;
  width: 100%;
}
#page--map #finding-position-msg {
  width: 100%;
  position: absolute;
  top: 30px;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  z-index: 1000;
}
#page--map #finding-position-msg p {
  font: 400 16px system-ui;
  border-radius: 50px;
  padding: 8px 12px;
  background: rgba(53, 53, 53, 0.61);
  color: #FFFFFF;
}
#page--map .leaflet-control-attribution.leaflet-control {
  display: none;
}
#page--map .map-control {
  z-index: 1000;
  font: 400 16px system-ui;
  position: absolute;
}
#page--map .fab {
  background: #FFFFFF;
  color: #000000;
  border: 0.1px solid rgba(0, 0, 0, 0.4);
}
#page--map .map-control-left {
  left: 16px;
}
#page--map .map-control-right {
  right: 16px;
}
#page--map .map-control-center {
  right: 16px;
  left: 16px;
}
#page--map .map-control-top-1 {
  top: 16px;
}
#page--map .map-control-top-2 {
  top: 80px;
}
#page--map .map-control-bottom {
  bottom: 16px;
}
#page--map .gps-on {
  color: #2196F3;
}
#page--map .leaflet-marker-icon:focus {
  outline: none !important;
}
#page--map #sync-notification {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 2px;
  left: 38px;
  border-radius: 50%;
  background-color: #DF0500;
}

/* INSERT DEFIBRILLATOR LAYOUT */
#page--insert {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1100;
  overflow-y: scroll;
  background: #FFFFFF;
  /* MAIN PAGE */
  /* NEW DAMAGES DIALOG */
}
#page--insert #insert-ls-main {
  width: 100%;
  height: 100%;
  z-index: 0;
}
#page--insert #insert-ls-main .requests-container {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: -moz-flex-start;
  -webkit-justify-content: -webkit-flex-start;
  -ms-justify-content: -ms-flex-start;
  justify-content: flex-start;
}
#page--insert #insert-ls-main .requests-container .required-fields {
  margin-top: 20px;
  font: 400 14px system-ui;
  color: #949494;
}
#page--insert #insert-ls-main .requests-container .request {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -moz-justify-content: -moz-flex-start;
  -webkit-justify-content: -webkit-flex-start;
  -ms-justify-content: -ms-flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 27px;
  color: #000000;
}
#page--insert #insert-ls-main .requests-container .request .request-icon-left {
  -moz-flex: 0 0 24px;
  -webkit-flex: 0 0 24px;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
}
#page--insert #insert-ls-main .requests-container .request .request-content {
  font: 500 16px system-ui;
  -moz-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 6px;
  cursor: pointer;
  border-bottom: 1px solid #C5C5C5;
}
#page--insert #insert-ls-main .requests-container .request .request-content .request-name {
  margin-bottom: 12px;
}
#page--insert #insert-ls-main .requests-container .request .request-content .request-text {
  font-size: 14px;
  margin-bottom: 3px;
  color: #E2491C;
}
#page--insert #insert-ls-main #photo-request {
  margin-bottom: 40px;
}
#page--insert #insert-ls-main #photo-request .request-content {
  border: 0;
}
#page--insert #insert-ls-main #photo-request .request-name {
  margin-bottom: 20px;
}
#page--insert #dialog-damages-new .custom-text-input {
  margin-top: 20px;
}

/* DIALOG LANDSLIDE TYPE */
#dialog-ls-type .card-row {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 16px;
}
#dialog-ls-type .card-row.last-card-row {
  margin-bottom: 32px;
}
#dialog-ls-type .radio-card {
  width: 152px;
}
#dialog-ls-type .radio-card-text-wrapper {
  height: 40px;
}
#dialog-ls-type img {
  width: 120px;
  height: auto;
}

/* LS INFO LAYOUT */
#page--info {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;
  overflow-y: scroll;
  background: #FFFFFF;
}
#page--info .custom-container {
  padding-top: 30px;
  margin-left: 24px;
  margin-right: 24px;
  width: calc(100% - 24px * 2);
  margin-bottom: 40px;
}
#page--info .custom-container .info-block {
  margin-bottom: 20px;
}
#page--info .custom-container .info-title-ph {
  width: 25%;
  height: 18px;
  margin-bottom: 6px;
  border-radius: 50px;
}
#page--info .custom-container .info-title {
  font: 500 13px system-ui;
  text-transform: uppercase;
  color: #E2491C;
  margin-bottom: 6px;
}
#page--info .custom-container .info-content-ph {
  width: 100%;
  height: 17px;
  border-radius: 50px;
}
#page--info .custom-container .info-content {
  font: 400 17px system-ui;
  color: #000000;
}
#page--info .custom-container #info-notes {
  margin-bottom: 40px;
}
#page--info .custom-container #info-photo {
  margin-bottom: 40px;
}
#page--info .custom-container .info-list {
  margin: 0;
  list-style: none;
  padding: 0;
}

/* IMAGE SCREEN */
#img-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background-color: #000000;
  color: #FFFFFF;
}
#img-screen .icons-top-bar {
  background-color: transparent;
  box-shadow: 0 0 0 0;
}
#img-screen #img-screen-container {
  width: 100%;
  height: calc(100% - 56px);
  position: fixed;
  top: 40px;
  left: 0;
  background-color: transparent;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
#img-screen #img-screen-container img {
  max-width: 100%;
  max-height: 100%;
}

/* SPLASH SCREEN */
#splash {
  z-index: 100000;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

/* AUTH */
.auth-page {
  background: linear-gradient(135deg, #FFFFFF 0%, #FFFFF9 100%);
  z-index: 1101;
}
.auth-page .form-wrapper {
  width: 100%;
  overflow-y: auto;
}
.auth-page .auth-footer {
  width: 100%;
  height: 57px;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #CFCFCF;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  color: #858585;
  font: 400 16px system-ui;
}
.auth-page .auth-footer .link {
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
  font: 500 16px system-ui;
}

.auth-go-back {
  margin-top: 20px;
  text-align: center;
  color: #858585;
  cursor: pointer;
}

#page--log-in {
  padding-top: 60px;
}
#page--log-in .form-container {
  margin-top: 60px;
}
#page--log-in .form-container .forgot-password {
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
}
#page--log-in .form-container .fab-extended {
  margin-top: 36px;
}

#page--register-disclaimer {
  z-index: 1101;
}
#page--register-disclaimer .custom-container {
  padding: 50px 16px 40px 16px;
}
#page--register-disclaimer .disclaimer-top-text {
  width: 100%;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  margin-bottom: 30px;
  font: 700 20px system-ui;
  color: #D84315;
  text-transform: uppercase;
}
#page--register-disclaimer .disclaimer-text {
  text-align: justify;
}
#page--register-disclaimer .disclaimer-text p {
  margin-bottom: 15px;
}
#page--register-disclaimer .disclaimer-text p:last-child {
  margin-bottom: 0;
}
#page--register-disclaimer .fab-extended {
  margin-top: 40px;
}

#page--register .form-wrapper {
  height: calc(100% - 57px - 90px);
}
#page--register .register-top-text {
  font: 500 20px system-ui;
  line-height: 20px;
  color: #000000;
  text-align: center;
  margin: 35px 0;
}
#page--register .form-container {
  padding-bottom: 20px;
}
#page--register .form-container .required-fields {
  margin-bottom: 10px;
  font: 400 14px system-ui;
  color: #949494;
}
#page--register .form-container .checkbox {
  margin-top: 4px;
  padding-left: 16px;
}
#page--register .form-container #rescuer-info {
  margin-left: 16px;
  margin-bottom: 0;
}
#page--register .form-container #btn--register-done {
  margin-top: 30px;
}

/* SETTINGS */
#page--settings {
  z-index: 1100;
}

#page--account-settings {
  z-index: 1101;
}

.settings-container {
  width: 100%;
  margin-top: 66px;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: -moz-flex-start;
  -webkit-justify-content: -webkit-flex-start;
  -ms-justify-content: -ms-flex-start;
  justify-content: flex-start;
}
.settings-container div:last-child {
  border: none;
}
.settings-container .setting {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -moz-justify-content: -moz-flex-start;
  -webkit-justify-content: -webkit-flex-start;
  -ms-justify-content: -ms-flex-start;
  justify-content: flex-start;
  width: 100%;
  color: #000000;
  padding: 20px 25px;
  border-bottom: 1px solid #E9E9E9;
  cursor: pointer;
}
.settings-container .setting .setting-icon-left,
.settings-container .setting .setting-icon-right {
  -moz-flex: 0 0 52px;
  -webkit-flex: 0 0 52px;
  -ms-flex: 0 0 52px;
  flex: 0 0 52px;
}
.settings-container .setting .setting-icon-left {
  color: #E2491C;
}
.settings-container .setting .setting-content {
  font: 500 18px system-ui;
  -moz-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 10px;
}
.settings-container .setting .settings-cbx-wrapper {
  -moz-flex: 0 0 40px;
  -webkit-flex: 0 0 40px;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  padding-right: 22px;
}
.settings-container .setting .settings-cbx-wrapper .flex-wrapper {
  width: 100%;
  height: 100%;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.settings-container .setting .settings-cbx-wrapper .flex-wrapper .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: all 0.3s;
}
.settings-container .setting .settings-cbx-wrapper .flex-wrapper .switch::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  top: 1px;
  left: 1px;
  transition: all 0.3s;
}
.settings-container .setting .settings-cbx-wrapper .flex-wrapper input[type=checkbox] {
  display: none;
}
.settings-container .setting .settings-cbx-wrapper .flex-wrapper input[type=checkbox]:checked + .switch {
  background-color: #E2491C;
}
.settings-container .setting .settings-cbx-wrapper .flex-wrapper input[type=checkbox]:checked + .switch::after {
  left: 20px;
}

/* FLOATING ACTION BUTTON */
.fab-extended, .fab {
  width: 52px;
  height: 52px;
  border-radius: 50px;
  background: #E2491C;
  color: #FFFFFF;
  box-shadow: 0 12px 16px 0 rgba(69, 91, 99, 0.3);
  cursor: pointer;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.fab-extended .fab-icon, .fab .fab-icon {
  width: 24px;
  height: 24px;
}

.fab-extended {
  width: 80%;
  height: 48px;
  margin: 0 auto;
  text-transform: uppercase;
}
.fab-extended.fab-extended-flex {
  width: 100%;
  box-shadow: 0 0 0 0;
}
.fab-extended .fab-extended-text {
  font: 700 16px system-ui;
}

/* TOP BAR */
.icons-top-bar, .top-bar {
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0;
  z-index: 1;
  background: #D84315;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
}

.top-bar {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.top-bar .top-bar-left-icon,
.top-bar .top-bar-right-icon {
  -moz-flex: 0 0 52px;
  -webkit-flex: 0 0 52px;
  -ms-flex: 0 0 52px;
  flex: 0 0 52px;
  cursor: pointer;
}
.top-bar .top-bar-left-icon i {
  margin-left: 8px;
  padding: 12px;
}
.top-bar .top-bar-right-icon i {
  margin-right: 8px;
  padding: 12px;
}
.top-bar .top-bar-title {
  font: 500 20px system-ui;
  -moz-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}
.top-bar + .custom-container {
  margin-top: 56px;
}

.icons-top-bar .icons-top-bar-icon {
  position: absolute;
  top: 4px;
  -moz-flex: 0 0 52px;
  -webkit-flex: 0 0 52px;
  -ms-flex: 0 0 52px;
  flex: 0 0 52px;
  cursor: pointer;
}
.icons-top-bar .icons-top-bar-icon i {
  padding: 12px;
}
.icons-top-bar .icons-top-bar-left-icon {
  left: 8px;
}
.icons-top-bar .icons-top-bar-right-icon-1 {
  right: 60px;
}
.icons-top-bar .icons-top-bar-right-icon-2 {
  right: 8px;
}
.icons-top-bar + .custom-container {
  margin-top: 56px;
}

/* DIALOG */
.opaque-overlay {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

#alert-dialog-overlay {
  z-index: 10000;
  background: rgba(0, 0, 0, 0.4);
}
#alert-dialog-overlay .spinner-wrapper {
  width: 100%;
  height: 100%;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.full-screen-dialog {
  width: 100%;
  height: 100%;
  z-index: 3;
  position: fixed;
  top: 0;
  background: #FFFFFF;
  overflow-y: scroll;
}
.full-screen-dialog .custom-container {
  padding-top: 32px;
}
.full-screen-dialog p {
  font: 400 16px system-ui;
  margin-top: 32px;
  margin-bottom: 16px;
  color: #000000;
}
.full-screen-dialog p.first-p {
  margin-top: 0;
}

.dialog-wrapper {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  background: none;
}
.dialog-wrapper .dialog {
  width: 280px;
  border-radius: 5px;
  background: #FFFFFF;
  box-shadow: 0 19px 38px 0 rgba(0, 0, 0, 0.3);
}
.dialog-wrapper .dialog .dialog-container {
  font: 400 16px system-ui;
  width: 100%;
  padding: 20px 24px 0 24px;
  text-align: left;
  color: #000000;
}
.dialog-wrapper .dialog .dialog-container .dialog-title {
  font: 500 20px system-ui;
  margin-bottom: 20px;
}
.dialog-wrapper .dialog .dialog-container .dialog-text {
  margin: 0 0 26px 0;
}
.dialog-wrapper .dialog .dialog-container .dialog-link {
  margin-top: 26px;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  color: #D84315;
  font: 500 16px system-ui;
  cursor: pointer;
}
.dialog-wrapper .dialog .dialog-footer {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -moz-justify-content: -moz-flex-end;
  -webkit-justify-content: -webkit-flex-end;
  -ms-justify-content: -ms-flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 52px;
  margin-top: 28px;
  padding: 8px;
  color: #E2491C;
}
.dialog-wrapper .dialog .dialog-footer .text-button {
  font: 500 14px system-ui;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  min-width: 64px;
  height: 36px;
  padding: 0 8px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}
.dialog-wrapper.dialog-insert .dialog .dialog-container .dialog-text {
  margin: 20px 0 12px 0;
}
.dialog-wrapper.dialog-insert .dialog .dialog-container .dialog-text.first-p {
  margin-top: 0;
}

/* BUTTON */
.button {
  padding: 11px 0;
  border-radius: 5px;
  cursor: pointer;
}
.button.full-width-btn {
  width: 100%;
}
.button.flex-btn {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.button.full-btn {
  border: none;
  background: #E2491C;
  color: #FFFFFF;
}
.button.outline-btn {
  border: 1px solid #707070;
  background: none;
  color: #E2491C;
}
.button .btn-text {
  font: 500 16px system-ui;
}
.button .icon-before {
  margin-right: 8px;
}

/* SELECTOR */
.custom-selector-box {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.custom-selector-box select {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: 0 none;
  background: none transparent;
}
.custom-selector-box select:focus {
  outline: none;
}
.custom-selector-box label {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0 none;
  border-radius: 0;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.custom-selector-box label .label-description {
  padding-left: 16px;
  -moz-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.custom-selector-box label i {
  -moz-flex: 0 0 24px;
  -webkit-flex: 0 0 24px;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  position: relative;
  padding: 0 25px 0 10px;
  margin: 0;
}

/* TEXTAREA */
.custom-textarea {
  font: 400 16px system-ui;
  width: 100%;
  padding: 12px 16px 12px 16px;
  color: #000000;
  border-color: #E2491C;
  border-radius: 5px;
}
.custom-textarea:focus {
  outline: none;
}

/* RADIO */
.radio {
  display: block;
  margin: 16px 0;
  cursor: pointer;
}
.radio input {
  display: none;
}
.radio input + span {
  line-height: 1.2;
  position: relative;
  display: block;
  height: 22px;
  padding-left: 35px;
}
.radio input + span:before, .radio input + span:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  content: "";
  border-radius: 50%;
}
.radio input + span:before {
  -moz-transition: background .2s ease, -moz-transform .4s cubic-bezier(.175, .885, .32, 2);
  -webkit-transition: background .2s ease, -webkit-transform .4s cubic-bezier(.175, .885, .32, 2);
  -ms-transition: background .2s ease, -ms-transform .4s cubic-bezier(.175, .885, .32, 2);
  transition: background .2s ease, transform .4s cubic-bezier(.175, .885, .32, 2);
  background: #D1D7E3;
}
.radio input + span:after {
  -moz-transition: -moz-transform .6s cubic-bezier(.175, .885, .32, 1.4);
  -webkit-transition: -webkit-transform .6s cubic-bezier(.175, .885, .32, 1.4);
  -ms-transition: -ms-transform .6s cubic-bezier(.175, .885, .32, 1.4);
  transition: transform .6s cubic-bezier(.175, .885, .32, 1.4);
  -moz-transform: scale(.78);
  -webkit-transform: scale(.78);
  -ms-transform: scale(.78);
  transform: scale(.78);
  background: #FFFFFF;
}
.radio input:checked + span:before {
  -moz-transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
  background: #E2491C;
}
.radio input:checked + span:after {
  transition: transform 0.3s ease;
  -moz-transform: scale(.4);
  -webkit-transform: scale(.4);
  -ms-transform: scale(.4);
  transform: scale(.4);
}
.radio:hover input + span:before {
  -moz-transform: scale(.92);
  -webkit-transform: scale(.92);
  -ms-transform: scale(.92);
  transform: scale(.92);
}
.radio:hover input + span:after {
  -moz-transform: scale(.74);
  -webkit-transform: scale(.74);
  -ms-transform: scale(.74);
  transform: scale(.74);
}
.radio:hover input:checked + span:before {
  -moz-transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}
.radio:hover input:checked + span:after {
  -moz-transform: scale(.4);
  -webkit-transform: scale(.4);
  -ms-transform: scale(.4);
  transform: scale(.4);
}

/* RADIO CARD */
.radio-card-label .radio-card {
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
  background: white;
  color: #000000;
  padding: 8px 0 11px 0;
  border: 1px solid transparent;
}
.radio-card-label .radio-card .radio-card-image-wrapper {
  width: 100%;
  height: 114.141px;
  padding: 0 16px;
  margin-bottom: 16px;
}
.radio-card-label .radio-card .radio-card-text-wrapper {
  width: 100%;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  text-align: center;
  padding: 0 8px;
  font: 400 16px system-ui;
  line-height: 1.2;
}
.radio-card-label .radio-card-input {
  display: none;
}
.radio-card-label .radio-card-input:checked + .radio-card {
  background: rgba(226, 73, 28, 0.1);
  border: 1px solid #E2491C;
}

/* DETAILS LIST */
.list-wrapper .list-item {
  width: 100%;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  padding: 8px 0 10px 0;
  border-top: 1px solid #C5C5C5;
  color: #000000;
}
.list-wrapper .list-item.last-list-item {
  border-bottom: 1px solid #C5C5C5;
}
.list-wrapper .list-item.no-padding {
  padding: 0 0 3px 0;
}
.list-wrapper .list-item .list-item-text {
  -moz-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font: 400 16px system-ui;
}
.list-wrapper .list-item .list-item-text.padding-start {
  padding-left: 8px;
}
.list-wrapper .list-item .list-item-text .list-item-text-p {
  margin: 0;
}
.list-wrapper .list-item .list-item-text .list-item-text-p:not(:first-child) {
  margin-top: 5px;
}
.list-wrapper .list-item .list-item-text .list-item-text-p .list-item-entry-title {
  color: #E2491C;
}
.list-wrapper .list-item .details-list-item-delete {
  -moz-flex: 0 0 48px;
  -webkit-flex: 0 0 48px;
  -ms-flex: 0 0 48px;
  flex: 0 0 48px;
  height: 48px;
  padding: 12px;
  cursor: pointer;
}
.list-wrapper .list-item .details-list-item-delete i {
  width: 24px;
  height: 24px;
  color: #1a1a1a;
}
.list-wrapper section:last-child {
  border-bottom: 1px solid #C5C5C5;
}

.add-list-item {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -moz-justify-content: -moz-flex-start;
  -webkit-justify-content: -webkit-flex-start;
  -ms-justify-content: -ms-flex-start;
  justify-content: flex-start;
  margin-top: 16px;
  color: #000000;
  font: 400 16px system-ui;
  cursor: pointer;
}
.add-list-item i {
  color: #333333;
  margin-right: 10px;
}

/* TEXT INPUT */
.custom-text-input {
  width: 100%;
}
.custom-text-input input[type=text] {
  width: 100%;
  border: none;
  border-bottom: 1px solid #E2491C;
  padding-bottom: 8px;
}
.custom-text-input input[type=text]:focus {
  outline: none;
}

/* PHOTO PREVIEW */
.photo-thm-wrapper {
  width: 100%;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.photo-thm-wrapper .photo-thm-box {
  width: 150px;
  height: 150px;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid #C5C5C5;
  border-radius: 10px;
  cursor: pointer;
}
.photo-thm-wrapper .photo-thm-box i {
  font-size: 36px;
  color: #D84315;
}
.photo-thm-wrapper .photo-thm-box .photo-thm-ph {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
.photo-thm-wrapper .photo-thm-box img {
  max-width: 250px;
  max-height: 250px;
  position: absolute;
  left: -1000%;
  right: -1000%;
  top: -1000%;
  bottom: -1000%;
  z-index: 1;
  margin: auto;
  border-radius: 10px;
}

/* PLACEHOLDERS */
@keyframes placeholderAnimate {
  0% {
    background-position: -650px 0;
  }
  100% {
    background-position: 650px 0;
  }
}
.placeholder {
  overflow: hidden;
  background: #E9EAEE linear-gradient(to right, #EEEEEE 2%, #DDDDDD 18%, #EEEEEE 33%);
  background-size: 1300px;
}
.placeholder.ph-animate {
  animation-duration: 1.7s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: placeholderAnimate;
}

.ph-hidden-content {
  display: none;
}

/* LOADER */
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #FFFFFF;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

/* FORM */
.form-page {
  z-index: 1101;
}
.form-page .form-container {
  margin-top: 56px;
  padding-top: 50px;
}
.form-page .form-container .form-field {
  margin-bottom: 26px;
}

.form-container {
  width: 100%;
  padding: 0 40px;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.form-field {
  width: 100%;
  height: 45px;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  border: 1px solid #858585;
  border-radius: 10px;
  margin-bottom: 16px;
}
.form-field.no-margin {
  margin-bottom: 0;
}
.form-field i {
  color: #757575;
  margin: 0 18px 0 13px;
}
.form-field input {
  width: 100%;
  padding: 0 13px 0 0;
  border: 0;
  line-height: normal;
  background-color: transparent;
}
.form-field input:focus {
  outline: none !important;
}
.form-field .custom-selector-box .label-description {
  color: #757575;
  padding: 0;
}

.form-bottom-info {
  margin: 5px 4px 16px 4px;
  font: 400 14px system-ui;
  color: #B9B9B9;
}

/* LOGO */
.logo-wrapper {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.logo-wrapper img {
  width: 96px;
  height: 96px;
}

/*# sourceMappingURL=app.css.map */
