/* MAP LAYOUT */

$map-control-top : 16px;
$map-control-bottom : 16px;
$map-control-left : 16px;
$map-control-right : 16px;

$map-control-second-row-margin : 12px;


#map {
  position : relative;
  width    : 100%;

  .leaflet-control-attribution.leaflet-control {
    display : none;
  }

  .map-control {
    z-index  : $z-map-container;
    @include font(400, $font-body);
    position : absolute;
  }

  .fab {
    background : #FFFFFF;
    color      : #000000;
    border     : 0.1px solid rgba(0, 0, 0, 0.4);
  }

  .map-control-left {
    left : $map-control-left;
  }

  .map-control-right {
    right : $map-control-right;
  }

  .map-control-center {
    right : $map-control-right;
    left  : $map-control-left;
  }

  .map-control-top-1 {
    top : $map-control-top;
  }

  .map-control-top-2 {
    top : $map-control-top + $fab-size + $map-control-second-row-margin;
  }

  .map-control-bottom {
    bottom : $map-control-bottom;
  }

  .gps-on {
    color : #2196F3;
  }

  .leaflet-marker-icon {

    &:focus {
      outline : none !important;
    }

  }

}