/* MAP LAYOUT */

$map-control-top : 16px;
$map-control-bottom : 16px;
$map-control-left : 0px;
$map-control-right : 0px;

$map-control-second-row-margin : 12px;


#map {
  position : relative;
  width    : 100%;

  .leaflet-control-attribution.leaflet-control {
    display : none;
  }

  .map-container {
    height  : 100%;
    z-index : 1000;
    @include font(400, $font-body);

    .map-control {
      position : absolute;
    }

    #map-control-hint {
      top  : $map-control-top;
      left : $map-control-left;
    }

    #map-control-layers {
      top   : $map-control-top;
      right : $map-control-right;
    }

    #map-control-gps {
      top   : $map-control-top + $fab-size + $map-control-second-row-margin;
      right : $map-control-right;
    }

    #map-new-ls {
      right  : $map-control-right;
      bottom : $map-control-bottom;
      left   : $map-control-left;
    }

  }

}