/* INSERT DEFIBRILLATOR LAYOUT */


#insert-ls {
  width      : 100%;
  height     : 100%;
  position   : absolute;
  top        : 0;
  z-index    : $z-insert-wrapper;
  overflow-y : scroll;
  background : #FFFFFF;

  /* MAIN PAGE */
  .insert-ls-main {
    z-index : $z-insert-main;

    .requests-container {
      @include flex-display(column);

      .request {
        @include flex-display;
        width      : 100%;
        margin-top : 27px;
        color      : $color-text;

        .request-icon-left {
          @include flex-static-size($icon-size);
        }

        .request-content {
          @include font(500, $font-body);
          @include vendor("flex", "1");
          padding-left  : 6px;
          cursor        : pointer;
          border-bottom : 1px solid #C5C5C5;

          .request-name {
            margin-bottom : 12px;
          }

          .request-text {
            font-size     : $font-body-small;
            margin-bottom : 3px;
            color         : $color-main;
          }

        }

      }

    }

    .photo-container {
      margin : 40px 0 60px 0;
    }

  }


  /* NEW DAMAGES DIALOG */
  #dialog-damages-new {

    .custom-text-input {
      margin-top : 20px;
    }

  }


  /* PHOTO DIALOG */
  #dialog-photo {

    .custom-container {
      margin-top : $top-bar-height;
    }

    .photo-cancel-wrapper {
      width    : $icon-area;
      height   : $icon-area;
      padding  : $icon-padding;
      z-index  : $z-photo-cancel;
      position : absolute;
      cursor   : pointer;

      .photo-cancel {
        width         : $icon-size;
        height        : $icon-size;
        border-radius : 50%;
        background    : #FFFFFF;
      }
    }

    .photo-preview-wrapper {
      margin : 0 0 40px 0;
    }

    .photo-or {
      width      : 100%;
      text-align : center;
      color      : $color-text;
      @include font(500, $font-body);
      margin     : 16px 0;
    }

  }

}