/* LS INFO LAYOUT */


$font-info-title : 13px;
$font-info-content : 17px;

$info-container-margin : 24px;

$top-bar-icon-margin : 8px;


#page--info {
  width      : 100%;
  height     : 100%;
  position   : absolute;
  top        : 0;
  z-index    : $z-info-wrapper;
  overflow-y : scroll;
  background : #FFFFFF;

  .custom-container {
    padding-top   : 30px;
    margin-left   : $info-container-margin;
    margin-right  : $info-container-margin;
    width         : container-size($info-container-margin);
    margin-bottom : 40px;

    .info-block {
      margin-bottom : 20px;
    }

    .info-title-ph {
      width         : 25%;
      height        : $font-info-title + 5px;
      margin-bottom : 6px;
      border-radius : 50px;
    }

    .info-title {
      @include font(500, $font-info-title);
      text-transform : uppercase;
      color          : $color-main;
      margin-bottom  : 6px;
    }

    .info-content-ph {
      width         : 100%;
      height        : $font-info-content;
      border-radius : 50px;
    }

    .info-content {
      @include font(400, $font-info-content);
      color : $color-text;
    }

    #info-notes {
      margin-bottom : 40px;
    }

    #info-photo {
      margin-bottom : 40px;
    }

    .info-list {
      margin     : 0;
      list-style : none;
      padding    : 0;
    }

  }

}