@import "1-helpers/variables";
@import "1-helpers/vendor";
@import "1-helpers/typography";
@import "1-helpers/mixins";
@import "1-helpers/media-queries";
@import "2-base/normalize";
@import "2-base/common";
@import "loader";

$form-field-height : 45px;

$form-field-padding-icon-left : 18px;
$form-field-padding-icon-right : 13px;

$color-error : #BD0000;

body {
  @include vendor("display", "flex");
  @include vendor("justify-content", "center");
}

.container {
  width       : 80%;
  padding-top : 30px;
  @include vendor("display", "flex");
  @include vendor("flex-direction", "column");
  @include vendor("align-items", "center");

  @include sm {
    width : 70%;
  }

  @include md {
    width : 60%;
  }

  @include lg {
    width : 50%;
  }

  @include xl {
    width : 30%;
  }

  .flash-message {
    width         : 100%;
    padding       : 15px 16px;
    border        : 1px solid #FFFFFF;
    border-radius : 5px;
    margin-bottom : 30px;

    &.error {
      color            : #721C24;
      background-color : #F8D7DA;
      border-color     : #F5C6CB;
    }

    &.success {
      color            : #155724;
      background-color : #D4EDDA;
      border-color     : #C3E6CB;
    }

  }

  svg {
    width  : 100px;
    height : 100px;

    &.error {
      fill : #BD0000;
    }

  }

  .message {
    margin-top : 50px;
    @include font(500, 25px);
    color      : #000000;
    text-align : center;
  }


  .logo {
    width         : 100px;
    height        : 100px;
    border        : 1px solid #858585;
    border-radius : 50%;
    overflow      : hidden;
    @include flex-center;

    span {
      @include font(500, $font-title);
      text-transform : uppercase;
      color          : #000000;
    }

  }


  .top-wrapper {
    width  : 100%;
    margin : 30px 0;

    .title {
      @include font(400, 25px);
      color         : #000000;
      margin-bottom : 15px;
    }

    .mail {
      font-weight : 500;
    }

  }


  .form-field-wrapper {
    width         : 100%;
    margin-bottom : 20px;

    .form-field {
      width         : 100%;
      height        : $form-field-height;
      @include vendor("display", "flex");
      @include vendor("align-items", "center");
      border        : 1px solid #858585;
      border-radius : 10px;

      &.error {
        border-color : $color-error;
      }

      i {
        color  : $color-text-ph;
        margin : 0 $form-field-padding-icon-left 0 $form-field-padding-icon-right;
      }

      input {
        width       : 100%;
        padding     : 0 $form-field-padding-icon-right 0 0;
        border      : 0;
        line-height : normal;

        &:focus {
          outline : none !important;
        }
      }

    }

    .form-field-error {
      margin : 5px 8px 0 10px;
      color  : $color-error;
    }

  }


  .button {
    width            : 100%;
    height           : $form-field-height;
    border-radius    : 10px;
    background-color : $color-main-dark;
    cursor           : pointer;
    @include flex-center;
    text-transform   : uppercase;
    color            : #FFFFFF;
    @include font(500, $font-body);
  }

}