* {
  position                    : relative;
  @include vendor("box-sizing", "border-box");
  -webkit-tap-highlight-color : rgba(0, 0, 0, 0)
}

html,
body {
  width  : 100%;
  height : 100%;
}

body {
  font-family : system-ui;
  font-size   : 16px;
  font-weight : 400;
  line-height : 1.2;
  overflow-y  : hidden;
  margin      : 0;
  padding     : 0;
  color       : $color-text;
}

a, button {
  outline : none;
}

button:focus {
  outline : none;
}

a {
  text-decoration : none;
}

p {
  margin : 0;
}

.custom-container {
  margin : 0 $container-margin;
  width  : container-size();
}