/* BUTTON */


.button {
  padding       : 11px 0;
  border-radius : 5px;
  cursor        : pointer;

  &.full-width-btn {
    width : 100%;
  }

  &.flex-btn {
    @include flex-center
  }

  &.full-btn {
    border     : none;
    background : $color-main;
    color      : #FFFFFF;
  }

  &.outline-btn {
    border     : 1px solid #707070;
    background : none;
    color      : $color-main;
  }

  .btn-text {
    @include font(500, $font-body);
  }

  .icon-before {
    margin-right : 8px;
  }

}