/* DIALOG */

$dialog-width : 280px;


.opaque-overlay {
  position   : fixed;
  z-index    : $z-opaque-overlay;
  top        : 0;
  left       : 0;
  width      : 100%;
  height     : 100%;
  background : rgba(0, 0, 0, .6);
}


#alert-dialog-overlay {
  z-index    : $z-alert-overlay;
  background : rgba(0, 0, 0, .4);

  .spinner-wrapper {
    width  : 100%;
    height : 100%;
    @include flex-center
  }

}


.full-screen-dialog {
  width      : 100%;
  height     : 100%;
  z-index    : $z-full-dialog;
  position   : fixed;
  top        : 0;
  background : #FFFFFF;
  overflow-y : scroll;

  .custom-container { padding-top : 32px }

  p {
    @include font(400, $font-body);
    margin-top    : 32px;
    margin-bottom : 16px;
    color         : $color-text;

    &.first-p { margin-top : 0 }

  }

}


.dialog-wrapper {
  position   : fixed;
  z-index    : $z-dialog;
  top        : 0;
  left       : 0;
  @include flex-center;
  width      : 100%;
  height     : 100%;
  text-align : center;
  background : none;

  .dialog {
    width         : $dialog-width;
    border-radius : 5px;
    background    : #FFFFFF;
    box-shadow    : 0 19px 38px 0 rgba(0, 0, 0, 0.3);

    .dialog-container {
      @include font(400, $font-body);
      width      : 100%;
      padding    : 20px 24px 0 24px;
      text-align : left;
      color      : $color-text;

      .dialog-title {
        @include font(500, $font-title);
        margin-bottom : 20px;
      }

      .dialog-text { margin : 0 0 26px 0 }

      .dialog-link {
        margin-top      : 26px;
        text-align      : center;
        text-decoration : underline;
        text-transform  : uppercase;
        color           : $color-main-dark;
        @include font(500, $font-body);
        cursor          : pointer;
      }

    }

    .dialog-footer {
      @include flex-display(row, flex-end);
      width      : 100%;
      height     : 52px;
      margin-top : 28px;
      padding    : 8px;
      color      : $color-main;

      .text-button {
        @include font(500, $font-body-small);
        @include flex-center;
        min-width      : 64px;
        height         : 36px;
        padding        : 0 8px;
        cursor         : pointer;
        text-align     : center;
        text-transform : uppercase;
      }

    }

  }

  &.dialog-insert {

    .dialog {

      .dialog-container {

        .dialog-text {
          margin : 20px 0 12px 0;

          &.first-p { margin-top : 0 }

        }

      }

    }

  }

}