/* PHOTO PREVIEW */


$photo-thm-size : 150px;
$photo-thm-radius : 10px;


.photo-thm-wrapper {
  width : 100%;
  @include flex-center;

  .photo-thm-box {
    width         : $photo-thm-size;
    height        : $photo-thm-size;
    @include flex-center;
    overflow      : hidden;
    border        : 1px solid #C5C5C5;
    border-radius : $photo-thm-radius;
    cursor        : pointer;

    i {
      font-size : 36px;
      color     : $color-main-dark;
    }

    .photo-thm-ph {
      width         : $photo-thm-size;
      height        : $photo-thm-size;
      border-radius : $photo-thm-radius;
    }

    img {
      max-width     : 250px;
      max-height    : 250px;
      position      : absolute;
      left          : -1000%;
      right         : -1000%;
      top           : -1000%;
      bottom        : -1000%;
      z-index       : 1;
      margin        : auto;
      border-radius : $photo-thm-radius;
    }

  }

}