/* TOP BAR */

%top-bar-base {
  width      : 100%;
  height     : $top-bar-height;
  position   : fixed;
  top        : 0;
  z-index    : $z-top-bar;
  background : $color-main-dark;
  box-shadow : 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  color      : #FFFFFF;
}

.top-bar {
  @extend %top-bar-base;
  @include flex-center;

  .top-bar-left-icon,
  .top-bar-right-icon {
    @include flex-static-size($top-bar-icon-area);
    cursor : pointer;
  }

  .top-bar-left-icon i {
    margin-left : $top-bar-icon-margin;
    padding     : $icon-padding;
  }

  .top-bar-right-icon i {
    margin-right : $top-bar-icon-margin;
    padding      : $icon-padding;
  }

  .top-bar-title {
    @include font(500, $font-title);
    @include vendor("flex", "1");
    text-align : center;
  }

  & + .custom-container { margin-top : $top-bar-height }

}

.icons-top-bar {
  @extend %top-bar-base;

  .icons-top-bar-icon {
    position : absolute;
    top      : $top-bar-height - $top-bar-icon-area;
    @include flex-static-size($top-bar-icon-area);
    cursor   : pointer;

    i { padding : $icon-padding }

  }

  .icons-top-bar-left-icon { left : $top-bar-icon-margin }

  .icons-top-bar-right-icon-1 { right : $top-bar-icon-area + $top-bar-icon-margin }

  .icons-top-bar-right-icon-2 { right : $top-bar-icon-margin }

  & + .custom-container { margin-top : $top-bar-height }

}