/* TOP BAR */

.top-bar {
  width      : 100%;
  position   : fixed;
  top        : 0;
  z-index    : $z-top-bar;
  @include flex-center;
  height     : $top-bar-height;
  background : $color-main-dark;
  box-shadow : 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  color      : #FFFFFF;

  .top-bar-left-icon,
  .top-bar-right-icon {
    @include flex-static-size($top-bar-icon-area);
    cursor : pointer;
  }

  .top-bar-left-icon i {
    margin-left : $top-bar-icon-margin;
    padding     : $icon-padding;
  }

  .top-bar-right-icon i {
    margin-right : $top-bar-icon-margin;
    padding      : $icon-padding;
  }

  .top-bar-title {
    @include font(500, $font-title);
    @include vendor("flex", "1");
    text-align : center;
  }

  & + .custom-container {
    margin-top : $top-bar-height;
  }

}