/* FLOATING ACTION BUTTON */


%fab-base {
  width         : $fab-size;
  height        : $fab-size;
  border-radius : $fab-radius;
  background    : $color-main;
  color         : #FFFFFF;
  box-shadow    : 0 12px 16px 0 rgba(69, 91, 99, 0.3);
  cursor        : pointer;
  @include flex-center;

  .fab-icon {
    width  : $icon-size;
    height : $icon-size;
  }
}

.fab {
  @extend %fab-base;
  //background : #FFFFFF;
  //color      : #000000;
}

.fab-extended {
  @extend %fab-base;
  width  : 80%;
  height : 48px;
  margin : 0 auto;

  .fab-extended-text {
    font-weight : 700;
    font-size   : $font-body;
  }
}